.row {
    margin: 50px;
    
    img {
        max-width: 100%;
    }

    form {
        input{
            &[type="submit"] {
                background-color: gray;
                &:hover {
                    background-color: lightgray;
                }
            }
        }    
    }
} 

tbody {
    tr {
        font-weight: bold;

        &:nth-child(even) {
            background-color: lightgrey;
        }
        
    }
}