* {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  color: white;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #3c4869;
}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.inline-icon {
  width: 5px;
  display: inline-block;
  margin-left: 5px;
}

.floating-button {
  position: absolute;
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: -20px;
  z-index: 4;
}
.floating-button img {
  margin-top: 3px;
  width: 18px;
  height: 18px;
}

#header-shadow-1,
#header-shadow-2 {
  background-image: url("../images/background-gradient.png");
  background-size: cover;
  position: absolute;
  height: 153.6px;
  border-radius: 10px;
}

#header-shadow-1 {
  top: 20px;
  width: 90vw;
  left: 5vw;
  z-index: 1;
  opacity: 0.2;
}

#header-shadow-2 {
  top: 10px;
  width: 95vw;
  left: 2.5vw;
  z-index: 2;
  opacity: 0.5;
}

#resume {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-items: center;
  background-image: url("../images/background-gradient.png");
  background-size: cover;
  position: relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 7px 43px -6px rgba(0, 0, 0, 0.75);
  z-index: 3;
}
#resume .header {
  display: flex;
  justify-content: space-around;
}
#resume .header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 20px 15px;
}
#resume .header ul li .icon {
  width: 20px;
}
#resume .header ul li h4 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 0.8em;
}
#resume .balance {
  text-align: center;
}
#resume .balance h2 {
  margin: 0;
  font-size: 16px;
  letter-spacing: 2px;
}
#resume .balance span {
  font-size: 20px;
}
#resume .balance p {
  margin: 10px 0 25px;
}

#my-wallet {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#my-wallet .info p {
  color: lightgray;
  margin: 5px 0;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
}
#my-wallet .info p img {
  height: 12px;
}
#my-wallet a {
  text-transform: uppercase;
  text-decoration: none;
  color: #60c9f8;
  letter-spacing: 2px;
  font-size: 12px;
}

#coin-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  margin: 10px 20px;
  padding: 10px;
  background: linear-gradient(to right, #525e7f 0%, #333f60 100%);
  border-radius: 10px;
  box-shadow: 0px 0px 37px 6px rgba(0, 0, 0, 0.34);
}
#coin-list li .coin h4,
#coin-list li .price h4 {
  margin-bottom: 2px;
  margin-top: 0;
}
#coin-list li .coin p,
#coin-list li .price p {
  opacity: 0.5;
}
